<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
      <servlet-name>QuartzInit</servlet-name>
      <servlet-class>tools.QuartzInit</servlet-class>
      <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
      <servlet-name>QuartzInit</servlet-name>
      <url-pattern>/QuartzInit</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>getChartInfo</servlet-name>
        <servlet-class>servlet.getChartInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getChartInfo</servlet-name>
        <url-pattern>/getChartInfo</url-pattern>
        <url-pattern>/gtaomanage/getChartInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getMainChartDetail</servlet-name>
        <servlet-class>servlet.getMainChartDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getMainChartDetail</servlet-name>
        <url-pattern>/getMainChartDetail</url-pattern>
        <url-pattern>/gtaomanage/getMainChartDetail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getDetailTableInfo</servlet-name>
        <servlet-class>servlet.getDetailTableInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getDetailTableInfo</servlet-name>
        <url-pattern>/getDetailTableInfo</url-pattern>
        <url-pattern>/gtaomanage/getDetailTableInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getUserMonthChart</servlet-name>
        <servlet-class>servlet.getUserMonthChart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getUserMonthChart</servlet-name>
        <url-pattern>/getUserMonthChart</url-pattern>
        <url-pattern>/gtaomanage/getUserMonthChart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getMonthTotalUserChart</servlet-name>
        <servlet-class>servlet.getMonthTotalUserChart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getMonthTotalUserChart</servlet-name>
        <url-pattern>/getMonthTotalUserChart</url-pattern>
        <url-pattern>/gtaomanage/getMonthTotalUserChart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BusinessStationQuotaServlet</servlet-name>
        <servlet-class>servlet.BusinessStationQuotaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusinessStationQuotaServlet</servlet-name>
        <url-pattern>/BusinessStationQuotaServlet</url-pattern>
        <url-pattern>/gtaomanage/BusinessStationQuotaServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewQuotaChartServlet</servlet-name>
        <servlet-class>servlet.NewQuotaChartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewQuotaChartServlet</servlet-name>
        <url-pattern>/NewQuotaChartServlet</url-pattern>
        <url-pattern>/gtaomanage/NewQuotaChartServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AreaQuotaServlet</servlet-name>
        <servlet-class>servlet.AreaQuotaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AreaQuotaServlet</servlet-name>
        <url-pattern>/AreaQuotaServlet</url-pattern>
        <url-pattern>/gtaomanage/AreaQuotaServlet</url-pattern>
    </servlet-mapping>

  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>0</session-timeout>
  </session-config>
  <filter>
		<filter-name>sessionFilter</filter-name>
		<filter-class>tools.SessionFilter</filter-class>
		<init-param>
			<param-name>include</param-name>
			<param-value>page</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>  
</web-app>